@import url('https://fonts.cdnfonts.com/css/justice-fighters');
@import url('https://fonts.cdnfonts.com/css/courier-prime');

.font-family-justice {
  font-family: 'Justice Fighters', sans-serif;
}

.font-family-courier {
  font-family: 'Courier Prime', monospace;
}

.padding-top-full {
  padding-top: 100%;
}
