@import url('https://fonts.cdnfonts.com/css/courier-prime');
@import url('https://fonts.cdnfonts.com/css/caver-pitalsal');

:root {
  scrollbar-width: thin !important;
  scrollbar-color: #cccccc !important;
}

body {
  &::-webkit-scrollbar {
    position: absolute !important;
    top: 0 !important;
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #cccccc;
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cccccc;

  &::-webkit-scrollbar {
    position: absolute !important;
    top: 0 !important;
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #cccccc;
  }
}

.font-family-courier {
  font-family: 'Courier Prime', monospace;
}

.font-family-caver {
  font-family: 'Caver Pitalsal', sans-serif;
}

.padding-top-full {
  padding-top: 100%;
}
